* {
    box-sizing: border-box;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #0f1113;
    font-family: 'Roboto', sans-serif;
    color: #c0ccdb;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.first-div {
    position: sticky;
    width: 25%;
    float: left;
}

.second-div {
    width: 59%;
    height: auto;
    float: left;
}

.third-div {
    width: 25%;
    height: 150px;
    float: left;
    /* background-color: purple; */
}


/*  */


/*          ğ˜€ğ˜ğ—®ğ—¿ğ˜ ğ—¼ğ—³ ğ—¶ğ—»ğ—±ğ—²ğ˜….ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´          */


/*           ğ˜€ğ˜ğ—®ğ—¿ğ˜ ğ—¼ğ—³ ğ—»ğ—®ğ˜ƒğ—¯ğ—®ğ—¿ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´            */

.active {
    background-color: #cd1857;
    color: #c0ccdb;
}

#navbar {
    float: left;
    position: sticky;
    background-color: #0f1113;
    white-space: nowrap;
    font-weight: bold;
    text-align: right;
    top: 0;
    left: 15%;
}

#navbar a {
    text-decoration: none;
    font-size: 2rem;
    color: #cd1857;
}

.navheader {
    color: #800832;
}

#navbar:a:hover {
    text-decoration: none;
}

ul {
    display: table;
    list-style: none;
    margin: 2.5rem 0 0 0;
    text-decoration: none;
    font-size: 2rem;
    color: #cd1857;
}

ul h4 {
    margin: 0;
}


/*            ğ—²ğ—»ğ—± ğ—¼ğ—³ ğ—»ğ—®ğ˜ƒğ—¯ğ—®ğ—¿ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´             */

.head-container {
    display: flex;
    background-color: #cd1857;
    margin: 0;
    padding: 0;
}

.index-header {
    display: flex;
    align-items: center;
    left: 23.9%;
    width: 50%;
    clear: both;
}

.index-header h1 {
    padding: 3rem 0 3rem 1rem;
    margin: 0;
}

.index-header img {
    float: left;
    margin-left: 1rem;
    height: 75px;
    width: 75px;
    border-radius: 2rem;
}

.column img {
    height: auto;
    float: left;
    padding-left: 2rem;
    margin-top: 3rem;
    width: 48%;
}

#content-1 {
    height: auto;
    float: left;
    padding-left: 2rem;
    margin: 3rem 0 2rem 0;
    width: 48%;
}

#content-1 h4 {
    margin: 0;
    padding-top: 0.35rem;
    border-bottom: 1px solid white;
    font-size: 1.3rem;
}

#content-1 p {
    padding-top: 1rem;
    margin: 0;
    font-size: 1.2rem;
}

#content-2 {
    height: auto;
    float: left;
    padding-left: 2rem;
    width: 48%;
}

#content-2 h4 {
    margin: 0;
    padding-top: 0.35rem;
    border-bottom: 1px solid white;
    font-size: 1.3rem;
}

#content-2 p {
    padding-top: 1rem;
    margin: 0;
    font-size: 1.2rem;
}

.avatar {
    position: relative;
    height: 350px;
    width: 350px;
    margin: 0;
    padding: 0;
    cursor: grab;
    cursor: -webkit-grab;
    z-index: 10;
}

.wrapper {
    border: 1px dashed yellow;
    /* padding: 10rem;
    margin: 0 22%; */
}

.front-page-img img {
    height: auto;
    float: left;
    padding-left: 2rem;
    width: 48%;
}


/*           ğ—²ğ—»ğ—± ğ—¼ğ—³ ğ—¶ğ—»ğ—±ğ—²ğ˜….ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´          */


/*  */


/*          ğ˜€ğ˜ğ—®ğ—¿ğ˜ ğ—¼ğ—³ ğ—½ğ—¿ğ—¼ğ—·ğ—²ğ—°ğ˜ğ˜€.ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´        */

.swiper-container {}

.swiper-button-prev,
.swiper-button-next {
    height: 13.5%;
    width: 36%;
}

.swiper-wrapper {
    text-align: center;
}

.carousel-img {
    margin-top: 3rem;
    max-width: 94.5%;
}

.ipsum-credits {
    margin-left: 2rem;
    font-size: 0.8rem;
}


/*          ğ—²ğ—»ğ—± ğ—¼ğ—³ ğ—½ğ—¿ğ—¼ğ—·ğ—²ğ—°ğ˜ğ˜€.ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´         */


/*  */


/*         ğ˜€ğ˜ğ—®ğ—¿ğ˜ ğ—¼ğ—³ ğ—°ğ—¼ğ—»ğ˜ğ—®ğ—°ğ˜.ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´          */

.contact-header h1 {
    margin: 3rem 0 0 2rem;
}

.contact-info p {
    margin: 2.7rem 0 0 2rem;
}


/*          ğ—²ğ—»ğ—± ğ—¼ğ—³ ğ—°ğ—¼ğ—»ğ˜ğ—®ğ—°ğ˜.ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´          */


/*  */


/*          ğ˜€ğ˜ğ—®ğ—¿ğ˜ ğ—¼ğ—³ ğ—¯ğ—¹ğ—¼ğ—´.ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´            */

#blog {
    height: auto;
    float: left;
    padding: 0 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

#blog h4 {
    margin: 3rem 0 0 0;
    padding-top: 0.35rem;
    border-bottom: 1px solid white;
    font-size: 1.3rem;
}

#blog p {
    padding: 1rem 0;
    margin: 0;
    font-size: 1.2rem;
}

#sauce {
    color: #62686f;
    font-size: 0.8rem;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

#blog a {
    color: #62686f;
    text-decoration: none;
}

#blog img {
    /* flex: 1 0 30%; */
    /* flex is a shorthand value, short for flex-grow, flex-shrink, flex-basis
    
    flex-grow priority of 1 - ie. grow when you don't fill the space
    flex-shrink priority of 0 - ie. do not shrink, no matter how much or how little space there is
    flex-basis of 30% - use 30% of your parent as your starting width, before growing or shrinking */
    height: 350px;
    max-width: 100%;
    margin: 1px;
}


/*           ğ—²ğ—»ğ—± ğ—¼ğ—³ ğ—¯ğ—¹ğ—¼ğ—´.ğ—µğ˜ğ—ºğ—¹ ğ˜€ğ˜ğ˜†ğ—¹ğ—¶ğ—»ğ—´            */