html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #0f1113;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #c0ccdb;
}

.centerwrap {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.centerwrap h4,
h6 {
    margin: 0;
}

.centerwrap h6 {
    display: flex;
    float: right;
    margin: 0;
    padding-top: 0.35rem;
    font-weight: 100;
    font-size: 0.8rem;
}

.centerwrap p {
    border: 1px solid white;
    padding: 1.3rem 2rem;
    margin: 0;
}